html, body
{
  min-height: 100%;
}

strong
{
    color: maroon;
}

h2
{
    text-align: center;
    color: maroon;
}

.header
{
    color: lightgray;
    background-color: maroon;
}

.btn
{
    background-color: maroon;
    margin-right: 10px;
}

.btn-primary
{
  background-color: maroon;
}

.jumbotron
{
  padding: 35px;
}

.footer
{
  background-color: lightgray;
  text-align: center;
  margin-top: 10px;
}

.footer p
{
  margin: 0;
}

.new-entry-form
{
  display: block;
}

.swal2-icon.swal2-info {
  border-color: maroon;
  color: darkred;
}

#base
{
  display: none;
}

#nmr
{
  display: none;
}
